 <div style="padding: 0.5em 0;" class="pillar-text" ng-class="colorClass()">
    <div ng-hide="nosign" style="font-size: smaller;">
        <span class="sign">{{d.sign}}</span><br ng-show="compactMode">
        <span class="type">{{d.type}}</span>
    </div>
    <div ng-show="nosign">
        <span class="type">{{d.type}}</span><br ng-show="compactMode">
    </div>
    <div>
        <span class="char">{{d.char}}</span><br ng-show="compactMode">
        <span class="pinyin">{{d.pinyin}}</span>
    </div>
</div>
